*{
    margin: 0px;
    padding: 0px;
}
#header {
    height: 100vh;
   /* background: rgb(11, 12, 13,.7); */
   font: bold 1.5em/2em monospace;
   display: flex;
   justify-content: center;
   align-items: center;
  background: linear-gradient(to right,rgb(0,0,0,.7), rgb(67,67,67,.7)), url("https://source.unsplash.com/1535x792/?gym") no-repeat top center;
 }
 #navbar ul{
     margin: 160px, 0px;
 }
 ul{
     margin-bottom: 10px;
 }
 #navbar ul a{
     padding: 8px 32px 8px 32px;
     color: white;
     font-family: 'Lato', sans-serif;
     background-color: black;
     border-radius: 50px;
     transition: 0.7s;
     text-decoration: none;
 }
 #navbar ul a:hover{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    line-height: 50px;
}